.logo{
/*    position: absolute;*/
    margin: 0 auto;
    padding: 0;
    margin-top: 0;
    margin-left: 100px;;
    top: 100px;
    width: 200px;
    height: 38px;
    background: url(../images/logo.png) rgba(255, 255, 255, .3);
    position: absolute;
    z-index: 100;
}